Source: libopencv
Priority: extra
Maintainer: Ethan Rublee <erublee@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), cmake (>= 2.8), python-dev,
    python-numpy, python-support, libavcodec-dev, libswscale-dev,
    libgtk2.0-dev, libjasper-dev, libjpeg62-dev, libpng12-dev, libtiff4-dev,
    libraw1394-dev, libdc1394-22-dev, zlib1g-dev, libtbb-dev, libavformat-dev,
    liblapack-dev, libv4l-dev, python-sphinx, texlive-latex-base
Standards-Version: 3.9.1
Section: libs
Homepage: http://opencv.willowgarage.com
Vcs-Svn: https://code.ros.org/svn/opencv/branches/2.3/opencv
Vcs-Browser: https://code.ros.org/trac/opencv/branches/2.3/opencv

Package: libopencv2.3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libopencv2.3 (= ${binary:Version}),
    pkg-config, cmake (>= 2.8)
Description: OpenCV (Open Source Computer Vision)
    OpenCV is released under a BSD license, it is free for both academic and commercial use. It has C++, C, Python and soon Java
    interfaces running on Windows, Linux, Android and Mac. The library has >2500 optimized algorithms (see figure below). It is 
    used around the world, has >2.5M downloads and >40K people in the user group. Uses range from interactive art, 
    to mine inspection, stitching maps on the web on through advanced robotics.

Package: libopencv2.3
Section: libs
Architecture: any
Depends: ${misc:Depends}
Description: OpenCV (Open Source Computer Vision)
    OpenCV is released under a BSD license, it is free for both academic and commercial use. It has C++, C, Python and soon Java
    interfaces running on Windows, Linux, Android and Mac. The library has >2500 optimized algorithms (see figure below). It is 
    used around the world, has >2.5M downloads and >40K people in the user group. Uses range from interactive art, 
    to mine inspection, stitching maps on the web on through advanced robotics.
